

/* 
Dark Cyan #0560B7

Dark Red #870405

Purple #340433

Midnight Blue #1F2768

Midnight Blue #241C54 

#330033
#0066BB
#880000

*/

body {
    padding: 0px;
    margin: 0px;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%2306B' cx='45' cy='45' r='10'/%3E%3Cg fill='%23800' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  
    /* background by SVGBackgrounds.com */
}

svg {
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.336); 
    border: 5px solid black;
}

rect {
    fill: none;
    pointer-events: all;
}

input[type="button" i] {
    background-color: #0560B7 ; 
    border: 3px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0px;
}

#loadFileXml {
    background-color:#870405;
    margin: 5px 15px;
}

.svgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallText {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    fill: black;
}

.bigText {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    fill: black;
}

.legendText {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    fill: black;
}

.buildingText {
    font-family: Arial;
    font-size: 16px;
    fill: black;
    font-weight: bold;
    pointer-events: all;
}

.missileText {
    font-family: Arial;
    font-size: 11px;
    fill: black;
    font-weight: bold;
    pointer-events: all;
}

.d3-tip {
    line-height: 1; 
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: silver;
    font-size: 10px;
    font-family: Arial;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

.nobuilding {
    fill: #ddd;
    stroke: black;
    stroke-width: 2;
}

.attack {
    fill: #870405;
    stroke: black;
    stroke-width: 2;
}

.defense {
    fill: #0560B7;    
    stroke: black;
    stroke-width: 2;
}

.energy {
    fill: forestgreen;    
    stroke: black;
    stroke-width: 2;
}

.tesla {
    fill: #340433;  
    stroke: black;
    stroke-width: 2;
}

.missile {
    fill: yellow;
    /* fill-opacity: 1; */
    stroke: black;
    /* stroke-opacity: .5; */
    /* pointer-events: all; */
    stroke-width: 2;
}